# Dependencies
/node_modules

# Build artifacts
/.next/
/out/
/build/

# Local Environment Variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase Config
src/firebase/config.ts

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
.vercel
